html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Get the colour!
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(name='theme-color', content='#1A4D62')
  body
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/main.js")
